* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0a0a0a;
  color: #fff;
  scroll-behavior: smooth;
}

.section-title {
  font-size: 2.5rem;
  color: #fff;
  margin-bottom: 10px;
}

.section-subtitle {
  color: #aaa;
  font-size: 1.1rem;
  margin-bottom: 50px;
}

html {
  scroll-behavior: smooth;
}

/* Navbar eka fixed nisa section eka uda hanguwanam meka use karanna */
section {
  scroll-margin-top: 80px; 
}